<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>403 Forbidden</title>
        <meta  charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
        
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-5">403 Forbidden</h1>
                    <p>Você não tem permissão para acessar essa página.</p>
            </div>
        </div>    <hr/>            <footer>
                    <p>DAC 2017</p>
                </footer>
    </body>
</html>
