<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cadastro</title>
        <meta  charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
        
    </head>
    <body>
        <div th:replace="navbarLogado :: navLog"></div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-5">Sistema de Gerenciamento de Atividades</h1>
          <p><span th:text="${userName}"></span></p>
                                <br/>              <h4>Cadastrar</h4>
                    <p>Cadastro de Alunos e Professores</p>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form method="post" th:action="@{/importaCSV}" enctype="multipart/form-data" role="form">
                    <div class="form-group">
                    <label>Escolha qual tipo de usu&aacute;rio deseja cadastrar:</label>
                    <select name="tipo" class="form-control">
                    <option value="aluno">Aluno</option>
                    <option value="professor">Professor</option>
                    </select>
                    </div>
                    <div class="form-group">
                    <label>Escolha o arquivo .CSV</label>
                    <input type="file" name="csv"></input>
                    </div>
                    <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Erro ao importar CSV.</p>
                </div>
                <div align="center" th:if="${param.sucesso}">
                    <p style="font-size: 20; color: #42F46B;">CSV importado com sucesso.</p>
                </div>
                    <button type="submit" class="btn btn-secondary" role="button">Enviar</button>
                    </form>
                </div>
            </div>
            <hr/>
                <footer>
                    <p>DAC 2017</p>
                </footer>
        </div>
    </body>
</html>
