<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta  charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
        <script type="text/javascript"> var thDebug = true; var thProtocol = "";</script>
        
    </head>
    <body>
        <div th:replace="navbarLogado :: navLog"></div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-5">Sistema de Gerenciamento de Atividades</h1>
                <p><span th:text="${userName}"></span></p>
<!--                 <p><a class="btn btn-primary btn-lg" role="button">Learn more »</a></p> --> 
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Projetos</h2>
                    <p>Busque aqui por projetos em aberto que sejam de seu interesse.</p>
                    <form method="get" th:href="@{/buscarProjetos}"><button class="btn btn-secondary" role="button">Buscar Projetos »</button></form>
                </div>
                <div class="col-md-4" th:if="${roleProfessor}">
                    <h2>Cadastrar Projeto</h2>
                    <p>Cadastre novos projetos.</p>
                    <p><a class="btn btn-secondary" th:href="@{/cadastrarProjeto}" role="button">Cadastrar »</a></p>
                </div>
            </div>
            <hr/>
                <footer>
                    <p>DAC 2017</p>
                </footer>
        </div>
    </body>
</html>
