<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projetos</title>
        <meta  charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
        
    </head>
    <body>
        <div th:replace="navbarLogado :: navLog"></div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-5">Sistema de Gerenciamento de Atividades</h1>
          <p><span th:text="${userName}"></span></p>
                                <br/>              <h4>Projetos</h4>
                    <p>Lista de Projetos</p>
        </div>
        </div>
        <div class="container">
            <div class="container">
            <form method="post" th:action="@{/buscarProjetos}">
            <div class="form-group">
            <label for="nomeProfessor">Filtrar por Professor:</label>
            <input type="text" class="form-control" placeholder="Nome do Professor" name="nomeProfessor"/><br/>
            </div>
            <div class="form-group">
            <label>Situa&ccedil;&atilde;o:</label>
            <select name="situacao" class="form-control">
            <option value="aberto">Projetos em Aberto</option>
            <option value="andamento">Projetos em Andamento</option>
            <option value="concluido">Projetos Concluidos</option>
            </select>
            </div>
            <button type="submit" class = "btn btn-primary">Filtrar</button>
            </form>
            </div>
            <br/>
            <hr/>
            <div class="panel panel-default">
                <div class="panel-body" th:each="projeto : ${projetos}">
                    <form method="post" th:action="@{/interesseProjeto}" role="form">
                    <div class="form-group">
                    <label>Título:</label>
					<span th:text="${projeto.titulo}"></span>
                    </div>
                    <div class="form-group">
                    <label>Resumo:</label>
					<span th:text="${projeto.resumo}"></span>
                    </div>
                    <div class="form-group">
                    <label>Orientador:</label>
					<span th:text="${mapa.get(projeto)}"></span>
                    </div>
                    <button type="submit" class="btn btn-secondary" role="button" th:if="${roleAluno} and ${alunoTcc} == ${projeto.disciplina.tcc}">Demonstrar Interesse</button>
                    <hr/>
                    </form>
                </div>
            </div>
            <hr/>
                <footer>
                    <p>DAC 2017</p>
                </footer>
        </div>
    </body>
</html>
