<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Projetos</title>
        <meta  charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" crossorigin="anonymous"/>
        <script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
        
    </head>
    <body>
        <div th:replace="navbarLogado :: navLog"></div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-5">Sistema de Gerenciamento de Atividades</h1>
          <p><span th:text="${userName}"></span></p>
                                <br/>              <h4>Projetos</h4>
                    <p>Lista de Projetos em Aberto</p>
            </div>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body" th:each="projeto : ${projetos}">
                    <form method="post" th:action="@{/interesseProjeto}" role="form">
                    <div class="form-group">
                    <label>Título:</label>
					<span th:text="${projeto.titulo}"></span>
                    </div>
                    <div class="form-group">
                    <label>Resumo:</label>
					<span th:text="${projeto.resumo}"></span>
                    </div>
                    <button type="submit" class="btn btn-secondary" role="button" th:if="${roleAluno}">Demonstrar Interesse</button>
                    </form>
                </div>
            </div>
            <hr/>
                <footer>
                    <p>DAC 2017</p>
                </footer>
        </div>
    </body>
</html>
